html, 
body {
   height: 100%;
   display: flex;
   flex-direction: column;
}

body {
   color: $default;   
   font-size: 16px;
   line-height: 26px;
   @extend %quicksand-500;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

main {
   flex-grow: 1;
}

a {
   color: $default;   
   font-size: 16px;
   line-height: 26px;
   @extend %quicksand-500;
}

.title {
   font-size: 48px;
   line-height: 65px;
   margin-bottom: 10px;
   color: $title;
   @extend %roboto-700;
   text-align: center;
   text-transform: uppercase;
}

.text {
   text-align: center;
   margin: 0 auto 55px;
   max-width: 530px;
}

.pagination {
   padding-top: 35px;
   border-top: 1px solid #ececec;
   display: flex;
   justify-content: center;
   align-items: center;
   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 18px;
   }
   &__list-link {
      padding: 0 15px;
   }
   &__list-link--active {
      color: $accent;
   }
   &__arrows {
      position: relative;
      text-transform: uppercase;
      &::before {
         position: absolute;
         content: '';
         width: 5px;
         height: 10px;
         top: 8px;
      }
   }
   &__prev {
      padding-left: 15px;
      &::before {
         background-image: url('../images/icons/angle_left.svg');
         left: 0;
      }
   }
   &__next {
      padding-right: 15px;
      &::before {
         background-image: url('../images/icons/angle_right.svg');
         right: 0;
      }
   }
}
