@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
   padding: 40px 0;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   &__list {
      display: flex;
   }
   &__list-item + .menu__list-item {
      padding-left: 35px;
   }
   &__list-link {
      padding: 0 2px 1px;
      color: $title;
      transition: all .5s;
      @extend %roboto-400;
      &:hover {
         color: $accent;
         border-bottom: 1px solid $accent;
         @extend %roboto-700;
      }
   }
   &__list-link--active {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
   }
}

.user-nav {
   display: flex;
   &__link + .user-nav__link {
      padding-left: 25px;
   }
   &__link {
      position: relative;
   }
   &__num {
      position: absolute;
      right: -14px;
      top: -9px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $accent;
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
   }
}

.footer {
   background-color: $bg;
}

.footer-top {
   padding: 70px 0 40px;
   border-bottom: 1px solid #ececec;
   display: flex;
   &__contact {
      width: 250px;
      margin-right: 50px;
   }
   &__nav {
      width: 170px;
      margin-right: 30px;
   }
   &__item-form {
      max-width: 470px;
   }
   &__logo {
      display: block;
      margin-bottom: 33px;
   }
   &__address,
   &__email,
   &__tel {
      display: block;
      margin-bottom: 10px;
   }
   &__social-list {
      display: flex;
      align-items: center;
      margin-top: 35px;
   }
   &__social-item + .footer-top__social-item {
      margin-left: 18px;
   }
   &__social-link {
      path {
         transition: all 3s;
         fill: $default;
      }
      &:hover {
         path {
            fill: $accent;
         }
      }
   }
   &__title {
      margin-bottom: 40px;
      color: $title;
      font-size: 22px;
      line-height: 1;
      @extend %roboto-500;
   }
   &__list-link {
      margin-bottom: 10px;
      display: block;
   }
   &__text {
      margin-bottom: 25px;
   }
   &__form-input {
      max-width: 320px;
      width: 100%;
      background-color: #fff;
      border: none;
      padding: 12px 10px 12px 15px;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
      ::placeholder {
         color: $default;
         font-size: 16px;
         @extend %quicksand-500;
      }
   }
   &__form-btn {
      @extend %btn;
      letter-spacing: 1px;
   } 
}

.footer-bottom {
   height: 75px;
   font-size: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__accept {
      display: flex;
   }
   &__accept-img {
      margin-left: 25px;
   }
}

.top-slider {
   background-color: $bg;
   background-image: url('../images/top-slider-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   padding: 70px 0 35px;
   &__container {
      max-width: 1520px;
   }
   &__item {
      display: flex !important;
      justify-content: space-between;
   }
   &__content {
      padding-top: 125px;
      padding-left: 155px;
   }
   &__title {
      max-width: 570px;
      font-size: 58px;
      line-height: 68px;
      color: $title;
      margin-bottom: 20px;
      @extend %roboto-700;
   }
   &__subtitle {
      max-width: 470px;
      margin-bottom: 55px;
   }
   &__link {
      display: inline-block;
      @extend %btn;
      padding: 14px 36px;
   }
   .slick-dots{
      display: flex;
      justify-content: center;
      margin-top: -60px;
      li{
         padding: 0 5px;
         line-height: 0;
         button {
            font-size: 0;
            background-color: transparent;
            padding: 0;
            width: 26px;
            height: 26px;
            border: 1px solid transparent;
            border-radius: 50%;
            position: relative;
            &::after {
               content: '';
               position: absolute;
               width: 6px;
               height: 6px;
               border-radius: 50%;
               background-color: $default;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
            }
         }
         &.slick-active {
            button {
               border-color: $accent;
               &::after {
                  background-color: $accent;
               }
            }
         }
      }
   }
}

.categories-info {
   padding: 120px 0;
   background-image: url('../images/categories-left-bg.svg');
   background-repeat: no-repeat;
   background-position: center left;
   &__inner {
      background-image: url('../images/categories-right-bg.svg');
      background-repeat: no-repeat;
      background-position: center right;
   }
}

.info {
   display: flex;
   justify-content: center;
   column-gap: 30px;
   margin-bottom: 110px;
   position: relative;
   &::before,
   &::after {
      position: absolute;
      content: '';
      z-index: -1;
   }
   &::before {
      width: 120px;
      height: 121px;
      top: -42px;
      left: -44px;
      background-image: url('../images/info-before.svg');
   }
   &::after {
      width: 65px;
      height: 52px;
      bottom: 0;
      right: -24px;
      bottom: -23px;
      background-image: url('../images/info-after.svg');
   }
   &__item {
      width: 370px;
      padding: 60px 40px;
      background-color: #fff;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
   }
   &__title {
      margin: 40px 0 15px;
      color: $title;
      font-size: 22px;
      line-height: 26px;
      @extend %roboto-400;
   }
}
 
.categories {
   &__inner {
      display: grid;
      min-height: 635px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
   }
   &__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      padding: 35px 40px;
      &:nth-child(1) {
         grid-row: span 2;
         .categories__item-subtitle,
         .categories__item-link:hover {
            color: #5800e4;
         }
         .categories__item-link:hover {
            border-bottom: 1px solid #5800e4;
         }
      }
      &:nth-child(2) {
         grid-column: span 2;
         display: flex;
         justify-content: center;
         flex-direction: column;
         .categories__item-link {
            width: max-content
         }
         .categories__item-subtitle,
         .categories__item-link:hover {
            color: $accent;
         }
         .categories__item-link:hover {
            border-bottom: 1px solid $accent;
         }
      }
      &:nth-child(3) {
         .categories__item-subtitle,
         .categories__item-link:hover {
            color: #ffb534;
         }
         .categories__item-link:hover {
            border-bottom: 1px solid #ffb534;
         }
      }
      &:nth-child(4) {
         .categories__item-subtitle,
         .categories__item-link:hover {
            color: #34c3ff;
         }
         .categories__item-link:hover {
            border-bottom: 1px solid #34c3ff;
         }
      }
   }
   &__item-subtitle {
      margin-bottom: 5px;
   }
   &__item-title {
      color: $title;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 15px;
   }
   &__item-link {
      text-transform: uppercase;
      color: $title;
      @extend %roboto-400;
      padding-bottom: 5px;
      transition: all .4s;
      border: 1px solid transparent
   }
}

.video-fashion {
   background-image: url('../images/decor/pattern.svg');
   background-position: top center;
   padding: 120px 0;
   &__inner {
      display: flex;
      // justify-content: center;
   }
   &__popup {
      margin-right: 65px;
      height: 480px;
      max-width: 535px;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__content {
      max-width: 570px;
   }
   &__subtitle {
      padding-top: 75px;
      margin-bottom: 7px;
      color: $accent;
      font-size: 22px;
      text-transform: uppercase;
   }
   &__title {
      text-align: left;
   }
   &__text {
      margin-bottom: 60px;
   }
   &__link {
      display: inline-block;
      @extend %btn;
      padding: 12px 30px;
   }
}

.products {
   padding: 110px 0 120px;
   text-align: center;
   &__text {
      max-width: 580px
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 45px 30px;
      margin-bottom: 60px;
   }
   &__link {
      @extend %btn-2;
      // display: inline-block;
      // text-align: center;
      // background-color: #fff;
      // border: 1px solid $accent;
      // color: $title;
      // padding: 14px 27px;
      // box-shadow: none;
      // text-transform: uppercase;
      // transition: all .3s;
      // &:hover {
      //    background-color: $accent;
      //    color: #fff;
      // }
   }

}

.products-item {
   max-width: 370px;
   &__img-box {
      height: 370px;
      position: relative;
      margin-bottom: 25px;
      overflow: hidden;
      &:hover {
         .products-item__link-box {
            transform: translateY(0);
         }
      }
   }
   &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
   &__link-box {
      position: absolute;
      bottom: 50px;
      background-color: #fff;
      width: 210px;
      height: 50px;
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      left: 0;
      right: 0;
      box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
      transform: translateY(300%);
      transition: all .5s;
   }
   &__link {
      display: inherit;
      position: relative;
      &--line::before,
      &--line::after {
         content: '';
         position: absolute;
         width: 1px;
         height: 30px;
         background-color: #ececec;
         top: 50%;
         transform: translateY(-50%);
      }
      &--line::before {
         left: -27px;
      }
      &--line::after {
         right: -27px;
      }
      &:hover {
         path {
            fill: $accent;
            transition: all .4s
         }
      }
   }
   &__title {
      color: $title;
      font-size: 22px;
      text-align: center;
      padding: 20px 0 15px;
   }
   &__prices {
      display: flex;
      justify-content: center;
      column-gap: 20px;
   }
   &__new-price {
      @extend %roboto-500;
      color: $title;
   }
   &__old-price {
      @extend %roboto-500;
      text-decoration: line-through;
      color: #ccccce;
   }
   &--sale {
      position: relative;
      &::before {
         position: absolute;
         content: 'SALE';
         top: 25px;
         left: 25px;
         @extend %btn;
         z-index: 1;
         line-height: 1;
         padding: 9px 11px;
         box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.25);
      }
   }
   &__list-view {
      display: none;
   }
   &__btn {
      border: none;
      background-color: $title;
      color: #fff;
      @extend %roboto-400;
      padding: 12px 40px;
      transition: all .3s;
      cursor: pointer;
      &:hover {
         background-color: $accent;
         box-shadow: 0px 7px 20px rgba(255, 17, 48, 0.3);
      }
   }
}

.products-item.product-item--list {
   min-width: 100%;
   display: flex;
   justify-content: space-between;
   border: 1px solid #ECECEC;
   align-items: center;
   .products-item {
      &__img-box {
         max-width: 200px;
         width: 100%;
         height: 250px;
         margin-bottom: 0px;
         &:hover {
            .products-item__link-box {
               transform: translateY(0);
            }
         }
      }
      &__link-box {
         bottom: 40%;
         background-color: transparent;
         width: 115px;
         display: flex;
         justify-content: space-between;
         box-shadow: none;
      }
      &__link {
         width: 50px;
         height: 50px;
         background-color: #fff;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         &--line {
            display: none;
         }
      }
      &__title {
         padding: 0;
         order: -2;
         width: 100%;
         text-align: left;
         margin-bottom: 13px;
      }
      &__prices {
         display: flex;
         justify-content: center;
         column-gap: 20px;
         order: -1;
         margin-right: 48px;
      }
      &__box-wrapper {
         padding: 25px 40px 30px;
         max-width: 570px;
      }
      &__content-box {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         margin-bottom: 13px;
      }
      &__list-view {
         display: block;
      }
      &__text {
         margin-bottom: 20px;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         overflow: hidden;
      }

   }
   .stars {
      margin: -4px 0 0;
   }
}

.stars {
   margin: 0 auto;
}

.promo {
   background-image: url('../images/promo-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding: 160px 0;
   &__content {
      max-width: 570px;
      width: 100%;
      margin-left: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
   &__subtitle {
      color: #fe3e57;
      font-size: 22px;
      text-transform: uppercase;
   }
   &__title {
      margin-bottom: 50px;
   }
   &__clock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
      column-gap: 30px;
   }
   &__clock-item {
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
      width: 120px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $title;
      font-size: 48px;
      line-height: 1;
      @extend %roboto-700;
   }
   &__text {
      color: $default;   
      font-size: 16px;
      line-height: 32px;
      @extend %quicksand-500;
   }
   &__link {
      @extend %btn-2;
      padding: 12px 27px;
   }
}

.partners {
   height: 170px;
   padding-top: 75px;
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center
   }
}

.blog {
   padding: 50px 0 160px;
   background-image: url('../images/blog-bg.svg');
   background-repeat: no-repeat;
   background-position: center center;
   &__text {
      max-width: 571px;
   }
   &__items {
      display: flex;
      justify-content: space-between;
      position: relative;
      &::after {
         position: absolute;
         content: '';
         background-image: url('../images/blog-items-shape.svg');
         width: 126px;
         height: 53px;
         top: -32px;
         right: -25px;
         z-index: -1;
      }
   }
   &__item {
      max-width: 370px;
      border: 1px solid #e8e8e8;
      transition: all .3s;
      &:hover {
         border-color: transparent;
         box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
         .blog__item-link {
            color: $accent;
         }
         .blog__item-link::after {
            background-image: url('../images/icons/arrow-accent.svg');
         }
      }
   }
   &__item-box {
      padding: 30px;
   }
   &__item-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
   }
   &__item-author,
   &__item-date {
      padding-left: 30px;
      position: relative;
   }
   &__item-author::before,
   &__item-date::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: 0;
      top: 3px;
   }
   &__item-author::before {
      background-image: url('../images/icons/user-gray.svg');
   }
   &__item-date::before {
      background-image: url('../images/icons/clock.svg');
   }
   &__item-title {
      color: $title;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 20px;
   }
   &__item-link {
      position: relative;
      transition: all .3s;
   }
   &__item-link::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 8px;
      background-image: url('../images/icons/arrow.svg');
      background-repeat: no-repeat;
      top: 7px;
      right: -13px;
   }
}

.top {
   &__container {
      padding: 125px 15px 137px;
      max-width: 1700px;
      // padding: 0 15px;
      margin: 0 auto;
      background-image: url('../images/top-bg.jpg');
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
   }
   h2.top__title {
      @extend %roboto-400;
      color: #15181D;
   }
}

.breadcrumbs {
   display: flex;
   justify-content: center;
   &__list {
      position: relative;
      padding-left: 25px;
      display: inline-flex; 
      &::before {
         content: '';
         position: absolute;
         width: 16px;
         height: 16px;
         background-image: url('../images/icons/home.svg');
         background-repeat: no-repeat;
         left: 0;
         top: 4px;
      }      
   }
   &__list-item {
      color: #727272;
      padding-right: 38px;
      position: relative;
      &::after {
         position: absolute;
         content: '';
         width: 9px;
         height: 10px;
         background-image: url('../images/icons/double-angle_right.svg');
         background-repeat: no-repeat;
         right: 16px;
         top: 8px;
      }
   }
   &__list-item:last-child {
      color: $accent;
      padding-right: 0;
      &::after {
         display: none;
      }
   }
   &__list-link,
   &__list-span {
      color: inherit;
   }
}


.modal {
   padding-top: 115px;
   max-width: 570px;
   margin: 0 auto 120px;
   &__links {
      text-align: center;
      margin-bottom: 50px;
   }
   &__link {
      margin: 0 30px;
      text-transform: uppercase;
      color: #909090;
      @extend %roboto-400;
      font-size: 22px;
      line-height: 26px;
   }
   &__link--active {
      color: $accent;
   }
   &__label {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 36px;
   }
   &__input {
      margin-top: 10px;
      width: 100%;
      background-color: $bg;
      border: none;
      height: 60px;
      padding: 15px 5px;
   }
   &__btn {
      display: block;
      width: 100%;
      border: none;
      background-color: $title;
      padding: 20px 5px;
      color: #fff;
      cursor: pointer;
      letter-spacing: 0.2em;
      margin-bottom: 16px;
      text-transform: uppercase;
   }
   &__error {
      display: inline-block;
      color: $accent;
      @extend %roboto-400;
   }
   &__text {
      margin-bottom: 20px;
   }
}

.page-404 {
   padding: 120px 0 113px;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__content {
      max-width: 521px;
      width: 100%; 
   }
   &__title {
      @extend %roboto-700;
      color: #28384F;
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 18px;
   }
   &__text {
      max-width: 470px;
      margin-bottom: 42px;
   }
   &__link {
      display: inline-block;
      padding: 15px 30px;
      background-color: $accent;
      color: #fff;
      text-transform: uppercase;
   }
}

.shop {
   padding: 120px 0 116px;
   &__inner {
      display: flex;
      justify-content: space-between;
   }
}

.filter {
   max-width: 370px;
   width: 100%;
   &__item {
      border: 1px solid #ececec;
      padding: 35px 30px 40px 30px;
      margin-bottom: 40px;
   }
   &__title {
      @extend %roboto-400;
      font-size: 22px;
      line-height: 26px;
      color: $title;
      text-transform: uppercase;
      margin-bottom: 24px;
   }

}

.filter-search {
   &__form {
      display: flex;
      height: 50px;
   }
   &__input {
      border: none;
      padding: 14px 17px;
      background-color: $bg;
      width: 260px;
   }
   &__btn {
      border: none;
      cursor: pointer;
      width: 50px;
      background-color: $accent;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

.filter-price {
   &__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
   }
   &__btn {
      @extend %btn;
      border: none;
   }
}

//styling ion

.irs--flat .irs-line {
   top: 13px;
   height: 5px;
   background-color: #e1e4e9;
   border-radius: 4px;
}

.irs--flat .irs-bar {
   top: 13px;
   height: 5px;
   background-color: $accent;
}

.irs--flat .irs-handle {
   top: 0px;
   width: 29px;
   height: 29px;
   background-color: #fff;
   box-shadow: 0px 0px 13px rgba(90, 90, 90, 0.2);
}

.irs--flat .irs-handle>i:first-child {
   display: none;
}

.irs--flat {
   height: 30px;
}

//styling ion end

.filter-color {
   &__label {
      padding-bottom: 20px;
      border-bottom: 1px solid #ececec;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:last-child {
         padding-bottom: 0;
         border-bottom: none;
      }
   }
   &__label + .filter-color__label {
      padding-top: 16px;
   }
   &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-color__checkbox {
         background-image: url('../images/icons/check.svg');
         background-repeat: no-repeat;
         background-position: center center;
      }
   }
   &__checkbox {
      width: 16px;
      height: 16px;
      position: absolute;
      margin-left: -16px;
      margin-top: -4px;
      
   }
   &__checkbox--blue {
      background-color: #00AEEF;
   }
   &__checkbox--red {
      background-color: #F52574;
   }
   &__checkbox--green {
      background-color: #24D4AC;
   }
   &__checkbox--orange {
      background-color: #FF7E00;
   }
   &__checkbox--black {
      background-color: #000000;
   }
   &__checkbox--purple {
      background-color: #923899;
   }
}

.filter-size {
   &__label {
      display: block;
      margin-bottom: 20px;
      padding-left: 35px;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-size__checkbox {
         background-image: url('../images/icons/check-size.svg');
         border: none;
         & + .filter-size__text {
            color: $accent;
         }
      }

   }
   &__checkbox {
      width: 20px;
      height: 20px;
      border: 1px solid $default;
      position: absolute;
      border-radius: 50%;
      margin-left: -32px;
      margin-top: 2px;
   }
}


.filter-category {
   &__label {
      margin-bottom: 15px;
      display: block;
      cursor: pointer;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-category__box {
         transition: all .3s;
         background-color: $accent;
         color: #fff;
      } 
   }
   &__box {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      background-color: $bg;
   }
}

.filter-popular {
   &__title {
      text-transform: none;
   }
   &__form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 15px;
   }
   &__label {
      cursor: pointer;
      padding: 8px 0;
   }
   &__input {
      @extend %checkbox-hidden;
      position: absolute;
      &:checked + .filter-popular__text {
         background-color: $accent;
         border-color: $accent;
         color: #fff;
      }
   }
   &__text {
      padding: 10px 20px;
      border: 1px solid $default;
      transition: all .3s;
   }
}

.shop-content {
   max-width: 770px;
   width: 100%;
   &__filter {
      width: 100%;
      border: 1px solid #EBEBEB;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
   }
   &__filter-views {
      display: flex;
      align-items: center;
   }
   &__filter-btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 0;
      line-height: 0;
      margin-left: 14px;
   }
   &__filter-btn--active {
      path {
         fill: $accent;
      }
   }
}

.jq-selectbox__select {
   height: 32px;
   padding: 0 20px 0 0;
   border: none;
   border-bottom-color: none;
   border-radius: 0;
   background: transparent;
   box-shadow: none;
   @extend %quicksand-500;
   font-size: 16px;
   color: $default;
   text-shadow: none;
   margin-left: 40px;
   &:hover {
      background: none;
   }
}

.shop-content__select-sort > .jq-selectbox__select {
   width: 136px;
}

.shop-content__select-show > .jq-selectbox__select {
   width: 76px;
}

.jq-selectbox__trigger {
   position: absolute;
   top: 0;
   right: 0;
   width: 34px;
   border-left: none;
}

.jq-selectbox__trigger-arrow {
   position: absolute;
   background-image: url('../images/icons/angle_down.svg');
   top: 12px;
   right: 0px;
   width: 10px;
   height: 5px;
   border: none;
}

.jq-selectbox__select-text {
   text-align: right;
}

.jq-selectbox.focused .jq-selectbox__select {
	border: none;
}

.jq-selectbox li {
   &:hover {
      background-color: #EBEBEB;
      color: #231f20;
   }
}

.jq-selectbox li.selected {
   background-color: #EBEBEB;
   color: #231f20;
}

.jq-selectbox__dropdown {
   box-sizing: border-box;
   width: 100%;
   margin: 2px 0 0;
   padding: 0;
   // border: 1px solid #ccc;
   border-radius: 0;
   background: #fff;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
   font: 14px/18px Arial,sans-serif;
}

.jq-selectbox li {
   min-height: 18px;
   padding: 5px 10px 6px;
   color: #231f20;
}

.shop-content {
   &__inner {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 58px 30px;
      margin-bottom: 35px;
   }
   &.shop-content--list {
      .shop-content__inner {
         margin-bottom: 0;
      }
      .pagination {
         border: none;
      }
   }
}

.product {
   padding: 120px 0 60px;
   border-bottom: 1px solid #ECECEC;
}

.product-item {
   &__inner {
      display: flex;
   }
   &__slide {
      width: 730px;
      margin-right: 70px;
   }
   &__content {
      width: 370px;
   }
   &__title {
      @extend %roboto-500;
      font-size: 22px;
      line-height: 34px;
      color: $title;
      margin-bottom: 14px;
   }
   &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
   }
   &__price {
      font-size: 18px;
   }
   &__price-old {
      color: #CCCCCE;
      text-decoration: line-through;
      margin-left: 14px;
   }
   &__price-new {
      color: $title;
   }
   &__stars-box {
      display: flex;
      align-items: center;
   }
   &__stars-num {
      margin-left: 10px;
   }
   &__text {
      margin-bottom: 25px;
      span {
         display: block;
         @extend %roboto-400;
         font-size: 18px;
         color: $title;
      }
   }
}

.product-slide {
   display: flex;
   &__thumbs {
      margin-right: 30px;
      width: 140px;
   }
   &__thumbs-item {
      width: 140px;
      height: 140px;
      cursor: pointer;
      margin-bottom: 30px;
      &:not(:last-child) {
      }
   }
   &__thumbs-img {
      width: 140px;
      height: 100%;
      object-fit: cover;
      object-position: top center;
   }
   &__big {
      width: 560px;
   }
   &__big-item {
      width: 560px;
      height: 650px;
   }
   &__big-img {
      width: 100%;
      height: 100%;
      object-fit: cover
   }
   .slick-vertical .slick-slide {
      height: 140px;
      margin-bottom: 30px;
   }
}

.product-info {
   margin-bottom: 38px;
   &__item {
      margin-bottom: 5px;
      display: flex;
   }
   &__title {
      color: $title;
      min-width: 110px;
   }
   &__link {
      transition: fill .3s;
      path {
         fill: $default;
      }
      &:hover {
         path {
            fill: $accent;
         }
      }
   }
   &__link + .product-info__link {
      padding-left: 5px;
   }    
}

.product-filter {
   &__color,
   &__size {
      margin-bottom: 22px;
   }
   &__color-title,
   &__size-title {
      @extend %roboto-400;
      font-size: 18px;
      color: $title;
      margin-bottom: 10px;
   }
   &__color-label,
   &__size-label {
      &:not(:last-child) {
         margin-right: 10px;
      }
   }
   &__color-input,
   &__size-input {
      @extend %radio-hidden;
   }
   &__color-input {
      &:checked + .product-filter__color-radio {
         border-color: $accent;
      }
   }
   &__color-radio {
      position: relative;
      width: 24px;
      height: 24px;
      border: 1px solid #CCCCCE;
      display: inline-block;
      cursor: pointer;
   }
   &__color-color {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
   }
   &__size-radio {
      display: inline-flex;
      width: 40px;
      height: 40px;
      border: 1px solid #ECECEC;
      justify-content: center;
      align-items: center;
      cursor: pointer;
   }
   &__size-input {
      &:checked + .product-filter__size-radio {
         border-color: $accent;
      }
   }

   &__btn {
      @extend %btn;
      text-transform: none;
      letter-spacing: normal;
      padding: 12px 40px;
      margin-left: 15px;
      cursor: pointer;
   }
}

.jq-number__field {
   width: 114px;
   height: 50px;
   border: 1px solid #ECECEC;
   border-bottom-color: #ECECEC;
   border-radius: 0px;
   box-shadow: none;
}
.jq-number__field input {
   width: 100%;
   height: 100%;
   padding: 8px 9px;
   text-align: center;
   border: none;
   outline: none;
   background: none;
   @extend %quicksand-500;
   font-size: 16px;
   color: $title;
}

.jq-number {
   padding: 0;
}
.jq-number__spin {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 0;
   width: 12px;
   height: 12px;
   border: none;
   background: transparent;
   box-shadow: none;
   text-shadow: none;
   cursor: pointer;
   &:hover {
      background: transparent;
   }
}

.jq-number__spin.minus {
   top: 50%;
   left: 15px;
}

.jq-number__spin.plus {
   right: 15px;
}

.jq-number__spin:after {
   content: "";
   position: absolute;
   top: 5px;
   left: 0px;
   width: 12px;
   height: 2px;
   background-color: $title;
   border: none;
}

.jq-number__spin.minus:after {
   border: none;
}

.jq-number__spin.plus:before {
   content: "";
   position: absolute;
   top: 0px;
   left: 5px;
   width: 2px;
   height: 12px;
   background-color: $title;
}

.product-tabs {
   padding-top: 115px;
   &__top {
      padding-bottom: 13px;
      margin-bottom: 38px;
      border-bottom: 1px solid #ECECEC;
   }

   &__top-item {
      font-size: 22px;
      line-height: 27px;
      &:not(:last-child) {
         margin-right: 58px;
      }
      &--active {
         color: $title;
         position: relative;
         &::after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            bottom: -15px;
            background-color: $accent;
         }
      }
   }

   &__content {
      margin-bottom: 60px;
   }

   &__content-item {
      display: none;
      &--active {
         display: block;
      }
   }
}

.comment {
   display: flex;
   &:not(:last-child) {
      margin-bottom: 37px;
   }

   &__ava {
      min-width: 71px;
      height: 71px;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 24px;
   }

   &__content {
   }

   &__content-top {
      display: flex;
      align-items: center;
      margin-bottom: 9px;
   }

   &__title {
      color: $title;
      @extend %roboto-400;
      margin-right: 14px;
   }

   &__date {
      padding-left: 15px;
      position: relative;
      &::before {
         content: '';
         position: absolute;
         width: 1px;
         height: 13px;
         left: 0;
         top: 7px;
         background-color: $default;
      }
   }

   &__stars {
      margin-right: 0;
      margin-left: auto;
   }

   &__text {
      margin-bottom: 7px;
   }

   &__reply {
      padding-left: 25px;
      position: relative;
      transition: color .3s;
      &:hover {
         color: darken($color: $default, $amount: 15)
      }
      &::before {
         position: absolute;
         content: '';
         left: 0;
         top: 4px;
         width: 15px;
         height: 13px;
         background-image: url('../images/icons/reply.svg');
      }
   }
}

.comment-add {
   margin-bottom: 60px;
   &__title {
      @extend %roboto-400;
      font-size: 22px;
      line-height: 27px;
      color: $title;
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 36px;
      &::after {
         position: absolute;
         content: '';
         width: 50px;
         height: 2px;
         background-color: $accent;
         bottom: 0;
         left: 0;
      }
   }
}
.comment-form {

   &__rating {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
   }

   &__rating-title {
      color: $title;
      margin-right: 55px;
   }

   &__label {
      cursor: pointer;
      &:not(:last-child) {
         margin-right: 30px;
      }
   }

   &__rating-input {
      @extend %radio-hidden;
      &:checked + .comment-form__radio {
         path {
            fill: #FFC35B;
         }
      }
   }

   &__radio {
      display: flex;
      align-items: center;
      path {
         fill: #CCCCCE;
      }
   }

   &__input-box {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      column-gap: 30px
   }

   &__input {
      flex-grow: 1;
      height: 50px;
      padding: 15px 20px;
      outline: none;
      border: 1px solid #ECECEC;
      // width: 50%;
   }

   &__textarea {
      width: 100%;
      min-height: 224px;
      resize: none;
      margin-bottom: 40px;
      padding: 16px 20px;
      outline: none;
      border: 1px solid #ECECEC;
   }

   &__btn {
      @extend %btn;
      letter-spacing: normal;
      padding: 15px 36px;
   }
}

.related {
   padding: 47px 0 118px;
   &__title {
      margin-bottom: 47px;
   }
   &__inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 30px;
   }
   .products-item__img-box {
      height: auto;
      margin-bottom: 17px;
   }
   .products-item__title {
      padding: 5px 0;
   }

}



















@import 'media';

