@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
   padding: 40px 0;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   &__list {
      display: flex;
   }
   &__list-item + .menu__list-item {
      padding-left: 35px;
   }
   &__list-link {
      padding: 0 2px 1px;
      color: $title;
      transition: all .5s;
      @extend %roboto-400;
      &:hover {
         color: $accent;
         border-bottom: 1px solid $accent;
         @extend %roboto-700;
      }
   }
   &__list-link--active {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
   }
}

.user-nav {
   display: flex;
   &__link + .user-nav__link {
      padding-left: 25px;
   }
   &__link {
      position: relative;
   }
   &__num {
      position: absolute;
      right: -14px;
      top: -9px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $accent;
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
   }
}

.footer {
   background-color: $bg;
}

.footer-top {
   padding: 70px 0 40px;
   border-bottom: 1px solid #ececec;
   display: flex;
   &__contact {
      width: 250px;
      margin-right: 50px;
   }
   &__nav {
      width: 170px;
      margin-right: 30px;
   }
   &__item-form {
      max-width: 470px;
   }
   &__logo {
      display: block;
      margin-bottom: 33px;
   }
   &__address,
   &__email,
   &__tel {
      display: block;
      margin-bottom: 10px;
   }
   &__social-list {
      display: flex;
      align-items: center;
      margin-top: 35px;
   }
   &__social-item + .footer-top__social-item {
      margin-left: 18px;
   }
   &__social-link {
      path {
         transition: all 3s;
         fill: $default;
      }
      &:hover {
         path {
            fill: $accent;
         }
      }
   }
   &__title {
      margin-bottom: 40px;
      color: $title;
      font-size: 22px;
      line-height: 1;
      @extend %roboto-500;
   }
   &__list-link {
      margin-bottom: 10px;
      display: block;
   }
   &__text {
      margin-bottom: 25px;
   }
   &__form-input {
      max-width: 320px;
      width: 100%;
      background-color: #fff;
      border: none;
      padding: 12px 10px 12px 15px;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
      ::placeholder {
         color: $default;
         font-size: 16px;
         @extend %quicksand-500;
      }
   }
   &__form-btn {
      @extend %btn;
      letter-spacing: 1px;
   } 
}

.footer-bottom {
   height: 75px;
   font-size: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__accept {
      display: flex;
   }
   &__accept-img {
      margin-left: 25px;
   }
}

.top-slider {
   background-color: $bg;
   background-image: url('../images/top-slider-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   padding: 70px 0 35px;
   &__container {
      max-width: 1520px;
   }
   &__item {
      display: flex !important;
      justify-content: space-between;
   }
   &__content {
      padding-top: 125px;
      padding-left: 155px;
   }
   &__title {
      max-width: 570px;
      font-size: 58px;
      line-height: 68px;
      color: $title;
      margin-bottom: 20px;
      @extend %roboto-700;
   }
   &__subtitle {
      max-width: 470px;
      margin-bottom: 55px;
   }
   &__link {
      display: inline-block;
      @extend %btn;
      padding: 14px 36px;
   }
   .slick-dots{
      display: flex;
      justify-content: center;
      margin-top: -60px;
      li{
         padding: 0 5px;
         line-height: 0;
         button {
            font-size: 0;
            background-color: transparent;
            padding: 0;
            width: 26px;
            height: 26px;
            border: 1px solid transparent;
            border-radius: 50%;
            position: relative;
            &::after {
               content: '';
               position: absolute;
               width: 6px;
               height: 6px;
               border-radius: 50%;
               background-color: $default;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
            }
         }
         &.slick-active {
            button {
               border-color: $accent;
               &::after {
                  background-color: $accent;
               }
            }
         }
      }
   }
}

.categories-info {
   padding: 120px 0;
   background-image: url('../images/categories-left-bg.svg');
   background-repeat: no-repeat;
   background-position: center left;
   &__inner {
      background-image: url('../images/categories-right-bg.svg');
      background-repeat: no-repeat;
      background-position: center right;
   }
}

.info {
   display: flex;
   justify-content: center;
   column-gap: 30px;
   margin-bottom: 110px;
   position: relative;
   &::before,
   &::after {
      position: absolute;
      content: '';
      z-index: -1;
   }
   &::before {
      width: 120px;
      height: 121px;
      top: -42px;
      left: -44px;
      background-image: url('../images/info-before.svg');
   }
   &::after {
      width: 65px;
      height: 52px;
      bottom: 0;
      right: -24px;
      bottom: -23px;
      background-image: url('../images/info-after.svg');
   }
   &__item {
      width: 370px;
      padding: 60px 40px;
      background-color: #fff;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
   }
   &__title {
      margin: 40px 0 15px;
      color: $title;
      font-size: 22px;
      line-height: 26px;
      @extend %roboto-400;
   }
}
 
.categories {
   &__inner {
      display: grid;
      min-height: 635px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
   }
   &__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      padding: 35px 40px;
      &:nth-child(1) {
         grid-row: span 2;
         .categories__item-subtitle,
         .categories__item-link:hover {
            color: #5800e4;
         }
         .categories__item-link:hover {
            border-bottom: 1px solid #5800e4;
         }
      }
      &:nth-child(2) {
         grid-column: span 2;
         display: flex;
         justify-content: center;
         flex-direction: column;
         .categories__item-link {
            width: max-content
         }
         .categories__item-subtitle,
         .categories__item-link:hover {
            color: $accent;
         }
         .categories__item-link:hover {
            border-bottom: 1px solid $accent;
         }
      }
      &:nth-child(3) {
         .categories__item-subtitle,
         .categories__item-link:hover {
            color: #ffb534;
         }
         .categories__item-link:hover {
            border-bottom: 1px solid #ffb534;
         }
      }
      &:nth-child(4) {
         .categories__item-subtitle,
         .categories__item-link:hover {
            color: #34c3ff;
         }
         .categories__item-link:hover {
            border-bottom: 1px solid #34c3ff;
         }
      }
   }
   &__item-subtitle {
      margin-bottom: 5px;
   }
   &__item-title {
      color: $title;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 15px;
   }
   &__item-link {
      text-transform: uppercase;
      color: $title;
      @extend %roboto-400;
      padding-bottom: 5px;
      transition: all .4s;
      border: 1px solid transparent
   }
}

.video-fashion {
   background-image: url('../images/decor/pattern.svg');
   background-position: top center;
   padding: 120px 0;
   &__inner {
      display: flex;
      // justify-content: center;
   }
   &__popup {
      margin-right: 65px;
      height: 480px;
      max-width: 535px;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__content {
      max-width: 570px;
   }
   &__subtitle {
      padding-top: 75px;
      margin-bottom: 7px;
      color: $accent;
      font-size: 22px;
      text-transform: uppercase;
   }
   &__title {
      text-align: left;
   }
   &__text {
      margin-bottom: 60px;
   }
   &__link {
      display: inline-block;
      @extend %btn;
      padding: 12px 30px;
   }
}

.products {
   padding: 110px 0 120px;
   text-align: center;
   &__text {
      max-width: 580px
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 45px 30px;
      margin-bottom: 60px;
   }
   &__link {
      @extend %btn-2;
      // display: inline-block;
      // text-align: center;
      // background-color: #fff;
      // border: 1px solid $accent;
      // color: $title;
      // padding: 14px 27px;
      // box-shadow: none;
      // text-transform: uppercase;
      // transition: all .3s;
      // &:hover {
      //    background-color: $accent;
      //    color: #fff;
      // }
   }

}

.products-item {
   max-width: 370px;
   &__img-box {
      height: 370px;
      position: relative;
      margin-bottom: 25px;
      overflow: hidden;
      &:hover {
         .products-item__link-box {
            transform: translateY(0);
         }
      }
   }
   &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
   &__link-box {
      display: none;
      position: absolute;
      bottom: 50px;
      background-color: #fff;
      width: 210px;
      height: 50px;
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      left: 0;
      right: 0;
      box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
      transform: translateY(300%);
      transition: all .5s;
   }
   &__link {
      display: inherit;
      position: relative;
      &--line::before,
      &--line::after {
         content: '';
         position: absolute;
         width: 1px;
         height: 30px;
         background-color: #ececec;
         top: 50%;
         transform: translateY(-50%);
      }
      &--line::before {
         left: -27px;
      }
      &--line::after {
         right: -27px;
      }
      &:hover {
         path {
            fill: $accent;
            transition: all .4s
         }
      }
   }
   &__title {
      color: $title;
      font-size: 22px;
      padding: 20px 0 15px;
   }
   &__prices {
      display: flex;
      justify-content: center;
      column-gap: 20px;
   }
   &__new-price {
      @extend %roboto-500;
      color: $title;
   }
   &__old-price {
      @extend %roboto-500;
      text-decoration: line-through;
      color: #ccccce;
   }
   &--sale {
      position: relative;
      &::before {
         position: absolute;
         content: 'SALE';
         top: 25px;
         left: 25px;
         @extend %btn;
         z-index: 1;
         line-height: 1;
         padding: 9px 11px;
         box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.25);
      }
   }
}

.stars {
   margin: 0 auto;
}

.promo {
   background-image: url('../images/promo-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding: 160px 0;
   &__content {
      max-width: 570px;
      width: 100%;
      margin-left: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
   &__subtitle {
      color: #fe3e57;
      font-size: 22px;
      text-transform: uppercase;
   }
   &__title {
      margin-bottom: 50px;
   }
   &__clock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
      column-gap: 30px;
   }
   &__clock-item {
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
      width: 120px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $title;
      font-size: 48px;
      line-height: 1;
      @extend %roboto-700;
   }
   &__text {
      color: $default;   
      font-size: 16px;
      line-height: 32px;
      @extend %quicksand-500;
   }
   &__link {
      @extend %btn-2;
      padding: 12px 27px;
   }
}

.partners {
   height: 170px;
   padding-top: 75px;
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center
   }
}

.blog {
   padding: 50px 0 160px;
   background-image: url('../images/blog-bg.svg');
   background-repeat: no-repeat;
   background-position: center center;
   &__text {
      max-width: 571px;
   }
   &__items {
      display: flex;
      justify-content: space-between;
      position: relative;
      &::after {
         position: absolute;
         content: '';
         background-image: url('../images/blog-items-shape.svg');
         width: 126px;
         height: 53px;
         top: -32px;
         right: -25px;
         z-index: -1;
      }
   }
   &__item {
      max-width: 370px;
      border: 1px solid #e8e8e8;
      transition: all .3s;
      &:hover {
         border-color: transparent;
         box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
         .blog__item-link {
            color: $accent;
         }
         .blog__item-link::after {
            background-image: url('../images/icons/arrow-accent.svg');
         }
      }
   }
   &__item-box {
      padding: 30px;
   }
   &__item-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
   }
   &__item-author,
   &__item-date {
      padding-left: 30px;
      position: relative;
   }
   &__item-author::before,
   &__item-date::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: 0;
      top: 3px;
   }
   &__item-author::before {
      background-image: url('../images/icons/user-gray.svg');
   }
   &__item-date::before {
      background-image: url('../images/icons/clock.svg');
   }
   &__item-title {
      color: $title;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 20px;
   }
   &__item-link {
      position: relative;
      transition: all .3s;
   }
   &__item-link::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 8px;
      background-image: url('../images/icons/arrow.svg');
      background-repeat: no-repeat;
      top: 7px;
      right: -13px;
   }
}

.top {
   &__container {
      padding: 125px 15px 137px;
      max-width: 1700px;
      // padding: 0 15px;
      margin: 0 auto;
      background-image: url('../images/top-bg.jpg');
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
   }
   h2.top__title {
      @extend %roboto-400;
      color: #15181D;
   }
}

.breadcrumbs {
   display: flex;
   justify-content: center;
   &__list {
      position: relative;
      padding-left: 25px;
      display: inline-flex; 
      &::before {
         content: '';
         position: absolute;
         width: 16px;
         height: 16px;
         background-image: url('../images/icons/home.svg');
         background-repeat: no-repeat;
         left: 0;
         top: 4px;
      }      
   }
   &__list-item {
      color: #727272;
      padding-right: 38px;
      position: relative;
      &::after {
         position: absolute;
         content: '';
         width: 9px;
         height: 10px;
         background-image: url('../images/icons/angle_right.svg');
         background-repeat: no-repeat;
         right: 16px;
         top: 8px;
      }
   }
   &__list-item:last-child {
      color: $accent;
      padding-right: 0;
      &::after {
         display: none;
      }
   }
   &__list-link,
   &__list-span {
      color: inherit;
   }
}


.modal {
   padding-top: 115px;
   max-width: 570px;
   margin: 0 auto 120px;
   &__links {
      text-align: center;
      margin-bottom: 50px;
   }
   &__link {
      margin: 0 30px;
      text-transform: uppercase;
      color: #909090;
      @extend %roboto-400;
      font-size: 22px;
      line-height: 26px;
   }
   &__link--active {
      color: $accent;
   }
   &__label {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 36px;
   }
   &__input {
      margin-top: 10px;
      width: 100%;
      background-color: $bg;
      border: none;
      height: 60px;
      padding: 15px 5px;
   }
   &__btn {
      display: block;
      width: 100%;
      border: none;
      background-color: $title;
      padding: 20px 5px;
      color: #fff;
      cursor: pointer;
      letter-spacing: 0.2em;
      margin-bottom: 16px;
      text-transform: uppercase;
   }
   &__error {
      display: inline-block;
      color: $accent;
      @extend %roboto-400;
   }
   &__text {
      margin-bottom: 20px;
   }
}

.page-404 {
   padding: 120px 0 113px;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__content {
      max-width: 521px;
      width: 100%; 
   }
   &__title {
      @extend %roboto-700;
      color: #28384F;
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 18px;
   }
   &__text {
      max-width: 470px;
      margin-bottom: 42px;
   }
   &__link {
      display: inline-block;
      padding: 15px 30px;
      background-color: $accent;
      color: #fff;
      text-transform: uppercase;
   }
}











@import 'media';

